.form
{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.form__fieldset
{
    border: 0;
}

.form__legend
{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.form__group
{
    padding: 20px 35px;
    @include textured-chiseled( 'normal', 'outer', 1px, 2px, 1px );
}

.form__group--inline
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.form__label
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font: 1.3rem 'Postanti';
}

.form__group--inline .form__label
{
	margin-bottom: 0;
	flex: 1;
}

.form__textfield
{
    display: block;
    width: 100%;
    @include textured-chiseled( 'dark', 'inner', 1px, 2px, 1px );
    border: 0;
    color: $color-white;
    padding: 10px 20px;
    font: 1.1rem 'Postanti';
}

.form__group--inline .form__textfield
{
	flex: 1.5;
}

.button
{
    border: 0;
    @include textured-chiseled( 'normal', 'outer', 1px, 2px, 1px );
    color: $color-white;
    font: 1.2rem 'Postanti';
    padding: 10px 30px;
    cursor: pointer;
}

.button:active
{
    @include textured-chiseled( 'normal', 'inner', 1px, 2px, 1px );
}

.form .button
{
    margin-top: 15px;
}

.form__checkbox
{
    input[type=checkbox]
    {
        position: absolute; 
        overflow: hidden; 
        clip: rect(0 0 0 0); 
        height: 1px; width: 1px; 
        margin: -1px; padding: 0; border: 0; 
    }

    label
    {
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
    }

    label::before
    {
        content: '';
        width: 1em;
        height: 1em;
        @include textured-chiseled( 'dark', 'inner', 1px, 2px, 1px );
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
        box-sizing: border-box;
    }

    label::after
    {
        content: 'x';
        position: absolute;
        left: 0;
        display: none;
        width: 1em;
        text-align: center;
        height: 1em;
        top: -0.05em;
    }

    input[type=checkbox]:checked + label::after
    {
        display: inline-block;
    }
}

.selectric-hide-select
{
    display: none;
}

.selectric
{
    @include textured-chiseled( 'normal', 'inner', 1px, 2px, 1px );
    color: $color-white;
    font: 1.1rem 'Postanti';
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    position: relative;
}

.selectric .button
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 0;
    padding: 0;
    text-align: center;
    width: 30px;
}

.selectric-wrapper
{
    position: relative;
}

.selectric-items
{
    display: none;
    position: absolute;
    z-index: 15;
    @include textured-chiseled( 'dark', 'inner', 1px, 2px, 1px );
    padding: 8px 15px 8px 15px;
    font-size: 1rem;
}

.selectric-items li
{
    list-style: none;
    cursor: pointer;
    color: $color-light-grey;
}

.selectric-items li:hover
{
    color: $color-white;
}

.selectric-open .selectric-items
{
    display: block;
}

.selectric-input
{
    display: none;
}