.form
{
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

.form__fieldset
{
    border: 0;
}

.form__legend
{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.form__group
{
    padding: 20px 35px;
    @include textured-chiseled();
}

.form__group--inline
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

.form__label
{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font: 1.3rem 'Postanti';
}

.form__group--inline .form__label
{
	margin-bottom: 0;
	flex: 1;
}

.form__textfield
{
    display: block;
    width: 100%;
    @include textured-chiseled( 'dark', 'inner', 1px, 2px, 1px );
    border: 0;
    color: $color-white;
    padding: 10px 20px;
    font: 1.1rem 'Postanti';
}

.form__group--inline .form__textfield
{
	flex: 1.5;
}

.button
{
    border: 0;
    @include textured-chiseled( 'normal', 'outer', 1px, 2px, 1px );
    color: $color-white;
    font: 1.2rem 'Postanti';
    padding: 10px 30px;
    cursor: pointer;
}

.button:active
{
    @include textured-chiseled( 'normal', 'inner', 1px, 2px, 1px );
}

.form .button
{
    margin-top: 15px;
}