.progress__caption
{
    text-align: center;
    margin-bottom: 0.35em;
}

.progress__inner
{
    padding: 3px;
    height: 20px;
    @include textured-chiseled( 'dark', 'inner' );
}

.progress__bar
{
    height: 100%;
    @include textured-chiseled( 'none', 'outer', 1px, 2px, 1px );
    background-color: $color-gold;
    font-size: 0;
    width: 0%;
    transition: width 0.3s ease-in-out;
}