.table
{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #999;
}

.table td,
.table th
{
    border: 1px solid #999;
    padding: 4px 8px;
}

.table thead,
.table tfoot
{
    @include textured-chiseled( 'dark', 'none' );
}

.table tbody
{
    background: rgba( 0, 0, 0, 0.2 );
}