.block {
  display: block; }

.small {
  font-size: 0.8em; }

.smaller {
  font-size: 0.6em; }

.smallest {
  font-size: 0.4em; }

.text--right {
  text-align: right; }

.text--center {
  text-align: center; }

.clear::after {
  content: '';
  display: block;
  clear: both; }

.mCS-bg-theme.mCSB_scrollTools {
  opacity: 1; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_dragger {
  height: 16px; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: url("../images/scroll-dragger.jpg");
  width: 16px;
  height: 16px; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_draggerRail {
  background: transparent; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_draggerContainer {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg");
  width: 16px;
  margin: 16px 0; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_buttonUp {
  width: 16px;
  height: 16px;
  background: url("../images/scroll-button-up.jpg");
  opacity: 1; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_buttonUp:hover {
  opacity: 1; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_buttonUp:active {
  background: url("../images/scroll-button-up-active.jpg"); }

.mCS-bg-theme.mCSB_scrollTools .mCSB_buttonDown {
  width: 16px;
  height: 16px;
  background: url("../images/scroll-button-down.jpg");
  opacity: 1; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_buttonDown:hover {
  opacity: 1; }

.mCS-bg-theme.mCSB_scrollTools .mCSB_buttonDown:active {
  background: url("../images/scroll-button-down-active.jpg"); }

@font-face {
  font-family: 'Sherwood';
  src: url("../fonts/SHERWOOD.TTF"); }
@font-face {
  font-family: 'Postanti';
  src: url("../fonts/POSTANTI.TTF"); }
@font-face {
  font-family: 'Feinen';
  src: url("../fonts/FEINEN.TTF"); }
.font--sherwood {
  font-family: 'Sherwood'; }

.font--postanti {
  font-family: 'Postanti'; }

.font--feinen {
  font-family: 'feinen'; }

.form {
  width: 100%;
  max-width: 600px;
  margin: 20px auto; }

.form__fieldset {
  border: 0; }

.form__legend {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  margin-bottom: 20px; }

.form__group {
  padding: 20px 35px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to left, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to top, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), url("../images/texture.jpg"); }

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font: 1.3rem 'Postanti'; }

.form__textfield {
  display: block;
  width: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg");
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font: 1.1rem 'Postanti'; }

.button {
  border: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to left, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to top, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), url("../images/texture.jpg");
  color: #fff;
  font: 1.2rem 'Postanti';
  padding: 10px 30px;
  cursor: pointer; }

.button:active {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), url("../images/texture.jpg"); }

.form .button {
  margin-top: 15px; }

.table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #999; }

.table td,
.table th {
  border: 1px solid #999;
  padding: 4px 8px; }

.table thead,
.table tfoot {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg"); }

.table tbody {
  background: rgba(0, 0, 0, 0.2); }

.progress__caption {
  text-align: center;
  margin-bottom: 0.35em; }

.progress__inner {
  padding: 3px;
  height: 20px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg"); }

.progress__bar {
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to left, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to top, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px);
  background-color: #eabb4b;
  font-size: 0; }

.textured {
  background: url("../images/texture.jpg"); }

.textured--dark {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg"); }

.textured.chiseled--outer {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to left, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to top, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), url("../images/texture.jpg"); }

.textured.chiseled--inner {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), url("../images/texture.jpg"); }

.textured--dark.chiseled--outer {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to left, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to top, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg"); }

.textured--dark.chiseled--inner {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 2px, transparent 4px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 3px, transparent 5px), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg"); }

.textured--dark.chiseled--inner--narrow {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to top, rgba(255, 255, 255, 0.3) 0px, rgba(255, 255, 255, 0.2) 1px, transparent 2px), linear-gradient(to right, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0px, rgba(0, 0, 0, 0.6) 2px, transparent 3px), linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("../images/texture.jpg"); }

.shadowed {
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 0.5px, rgba(0, 0, 0, 0.3) -1px -2px; }

.shadowed.white {
  color: #ccc; }

.capitalized {
  text-transform: uppercase; }

.capitalized::first-letter {
  font-size: 1.5em; }

.scrollable.mCustomScrollbar {
  position: relative;
  margin-right: 26px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.page-body {
  background: url("../images/background.jpg") no-repeat fixed;
  background-size: cover;
  font: 12px 'Postanti';
  color: #fff;
  padding: 20px;
  line-height: 1.5; }

.page-header {
  font: 2rem 'Sherwood';
  color: #eabb4b;
  text-align: center;
  float: right;
  padding: 20px; }

.test-block {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 200px;
  height: 200px; }

/*# sourceMappingURL=main.css.map */
